.AboutMe {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.AboutMe-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex: 1;
    height: 100%;
    min-width: 200px;
}

.AboutMe-main {
    flex: 1;
    height: 100%;
    min-width: 500px;
    padding: 1em;
}

.AboutMe-photo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.AboutMe-photo img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.AboutMe-changePhoto {
    position: absolute;
    top: 0;
}
