.AdminActions {
    position: fixed;
    bottom: 50%;
    right: -2px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1em;
}

.AdminActions-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    min-width: 50px;
}

.AdminActions-action span {
    width: 0;
    overflow: hidden;
}

.AdminActions-action span {
    transition: width 800ms ease-in-out, margin-left 800ms ease-in-out;
    text-align: left;
}

.AdminActions-action:hover span {
    margin-left: 1em;
    width: 150px;
}

.AdminActions-write:disabled, .AdminActions-publish:disabled {
    background-color: #8a2be2;
    border-color: #8a2be2;
    opacity: 0.5;
}

.AdminActions-write, .AdminActions-publish {
    background-color: #8a2be2;
    border-color: #8a2be2;
}

.AdminActions-write:hover, .AdminActions-publish:hover {
    background-color: #9b3bf2; 
    border-color: #9b3bf2;
}

