.AdminActions {
    position: fixed;
    bottom: 50%;
    right: -2px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1em;
}

.AdminActions-action {
    min-width: 50px;
}

.AdminActions-action span {
    width: 0;
    overflow: hidden;
}

.AdminActions-action span {
    transition: width 800ms ease-in-out;
}

.AdminActions-save:hover span {
    width: 150px;
}

.AdminActions-reset:hover span {
    width: 150px;
}