.AdminActions {
    position: fixed;
    bottom: 50%;
    right: -2px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1em;
}

.AdminActions-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    min-width: 50px;
}

.AdminActions-action span {
    width: 0;
    overflow: hidden;
}

.AdminActions-action span {
    transition: width 800ms ease-in-out, margin-left 800ms ease-in-out;
    text-align: left;
}

.AdminActions-action:hover span {
    margin-left: 1em;
    width: 150px;
}

.AdminActions-saveDraft {
    background-color: #f4a460;
    border-color: #f4a460;
}

.AdminActions-loadDrafts {
    background-color: #ff8c00;
    border-color: #ff8c00;
}

.AdminActions-write {
    background-color: #8a2be2;
    border-color: #8a2be2;
}

.AdminActions-saveDraft:hover {
    background-color: #f7b07a; 
    border-color: #f7b07a;
}

.AdminActions-loadDrafts:hover {
    background-color: #ffa733; 
    border-color: #ffa733;
}

.AdminActions-write:hover {
    background-color: #9b3bf2; 
    border-color: #9b3bf2;
}

