[contenteditable="true"]:not(.ql-editor) {
    cursor: text;
    border: 3px dotted var(--bulma-link-text);
    border-radius: 4px;
}

[data-category-id][contenteditable="true"],
[data-new-category][contenteditable="true"] {
    border: none;
    border-bottom: 3px dotted var(--bulma-link-text);
    border-radius: 4px;
}

[contenteditable="true"]:focus-visible {
    outline: none;
}

.DeleteButton, .AddButton {
    color: #fff;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    padding: 0.5em;
}

.DeleteButton i, .AddButton i {
    font-size: 0.5em;
}
