[contenteditable="true"] {
    cursor: text;
}

[data-settings][contenteditable="true"] {
    border: 3px dotted var(--bulma-link-text);
    border-radius: 4px;
}

[data-category-id][contenteditable="true"], [data-new-category][contenteditable="true"] {
    border-bottom: 3px dotted var(--bulma-link-text);
    border-radius: 4px;
}

[contenteditable="true"]:focus-visible {
    outline: none;
}

.DeleteButton, .AddButton {
    color: #fff;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    padding: 0.5em;
}

.DeleteButton i, .AddButton i {
    font-size: 0.5em;
}
