:root {
    --bulma-body-background-color: #f5f5f5;
    --bulma-family-primary: "Merriweather", "Josefin Slab", serif;
    --input-background-color: #f5f4f4;
    --input-text-color: #444444;
    --bulma-input-placeholder-color: #abb1c1;
}

body {
    font-style: normal;
    font-weight: normal;
    line-height: 2;
    margin: 0;
    padding: 0;
    position: relative;
}

.title {
    --bulma-title-color: #272727;
}

.input {
    background-color: var(--input-background-color);
    color: var(--input-text-color);
}
