:root {
    --bulma-navbar-height: 60px;
    --bulma-body-background-color: #f5f5f5;
    --bulma-family-primary: "Merriweather", "Josefin Slab", serif;
    --input-background-color: #f5f4f4;
    --input-text-color: #444444;
    --bulma-input-placeholder-color: #abb1c1;
    --content-min-width: 55vw;
    --content-max-width: 900px;
}

body {
    font-style: normal;
    font-weight: normal;
    line-height: 2;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #fff;
    min-height: 100vh;
}

.title {
    --bulma-title-color: #272727;
}

a:hover {
    text-decoration: underline;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

hr {
    --bulma-hr-background-color: rgba(0, 0, 0, 0.1);
}

[data-visible="false"] {
    display: none;
}

[data-template="true"] {
    display: none;
}

.Main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2em;
    max-width: var(--content-max-width);
    min-width: var(--content-min-width);
    margin: 0 auto;
    background-color: #fff;
    padding: 2em;
}

@media screen and (max-width: 900px) {
    .Main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.input, .textarea {
    --bulma-input-placeholder-color: #95a0b8;
    --bulma-input-disabled-background-color: var(--input-background-color);
    --bulma-input-disabled-border-color: none;
    --bulma-input-disabled-color: var(--input-text-color);
    color: var(--input-text-color);
    font-family: var(--bulma-body-family);
    align-items: center;
    appearance: none;
    display: inline-flex;
    font-size: var(--bulma-control-size);
    height: var(--bulma-control-height);
    justify-content: flex-start;
    line-height: var(--bulma-control-line-height);
    transition-duration: var(--bulma-duration);
    transition-property: background-color, border-color, box-shadow, color;
    vertical-align: top;
    position: relative;
    opacity: 1;
    background-color: var(--input-background-color);
    outline: none;
    border: none;
    padding: 1.8em 1.5em;
    border-radius: 6px;
}

fieldset[disabled] .input, 
.input[disabled], 
fieldset[disabled] .textarea, 
.textarea[disabled] {
    opacity: 0.5;
}

.button.is-success {
    color: #fff;
}

a.active {
    text-decoration: underline;
}

.is-success {
    --bulma-loading-color: #fff;
    background-color: #84be5b;
}

.is-success[disabled] {
    background-color: #84be5b;
    border-color: none;
    opacity: 0.5;
}

.modal {
    --bulma-modal-card-title-color: #444444;
    --bulma-modal-card-head-background-color: #f5f4f4;
    --bulma-modal-card-body-background-color: #f5f4f4;
    --bulma-modal-card-foot-background-color: #f5f4f4;
}

.modal-card-title {
    margin: 0 !important;
}
