.AddComment:not([data-visible="false"]) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3em;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .AddComment:not([data-visible="false"]) {
        border-bottom: 1px solid #efefef;
        padding-bottom: 3em;
    }
}

.AddComment-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
}

.AddComment-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    width: 100%;
}

.AddComment-form, .AddComment-form fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5em;
    width: 100%;
}
