.MediaLibrary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
}

.MediaLibrary-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.MediaLibrary-header {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    gap: 1em;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;;
}

.MediaLibrary-current, .MediaLibrary-actions {
    width: 100%;
}

.MediaLibrary-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

ul.MediaLibrary-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.MediaLibrary-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    cursor: pointer;
    height: 128px;
}

.MediaLibrary-item-actions {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.MediaLibrary-item img {
    width: 96px;
    height: 96px;
}

.MediaLibrary-item-label {
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 132px; 
    white-space: nowrap;
    text-align: center;
}

.MediaLibrary-item:hover .MediaLibrary-item-label {
    text-decoration: underline;
}

.MediaLibrary-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
}

.MediaLibrary-actions .button {
    gap: 1em;
}

.MediaLibrary-current .breadcrumb ul {
    margin-left: 0;
}

.MediaLibrary-current .breadcrumb li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    margin: 0;
}

.MediaLibrary-current .breadcrumb li a {
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-align: center;
    height: 100%;
}

.MediaLibrary-current .breadcrumb li a span[contenteditable="true"] {
    border-left: none;
    border-right: none;
    border-top: none;
}

.MediaLibrary-file {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    gap: 1em;
}

.MediaLibrary-file-viewer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.MediaLibrary-file-viewer object {
    width: 100%;
    min-height: 400px;
}

.MediaLibrary-file-info {
    list-style: none !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    width: 100%;
}

.MediaLibrary-file-info span[contenteditable="true"] {
    border-top: none;
    border-left: none;
    border-right: none;
    color: var(--bulma-link-text);
}

.MediaLibrary-file-info i {
    color: var(--bulma-link-text);
}