.MediaLibrary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
}

.MediaLibrary-header, .MediaLibrary-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.MediaLibrary-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

ul.MediaLibrary-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1em;
}

.MediaLibrary-item {
    
}

.MediaLibrary-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
}

.MediaLibrary-actions .button {
    gap: 1em;
}
