.MediaLibrary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
}

.MediaLibrary-header, .MediaLibrary-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.MediaLibrary-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.MediaLibrary-directories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.8);
}

.MediaLibrary-files {

}

.MediaLibrary-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
}

.MediaLibrary-actions .button {
    gap: 1em;
}