.RecentPosts {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
    list-style: none;
    margin: 0;
    flex: 2;
}

.PostCard-listItem {
    width: 100%;
}

.PostCard-listItem[data-template="true"] {
    display: none;
}

.PostCard-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
    padding-bottom: 1.2em;
    margin-bottom: 3.2em;
}

.PostCard-title {
    margin-bottom: 0 !important;
}

.PostCard-createdAt::after {
    content: "\2022";
    margin-left: .4rem;
    margin-right: .2rem;
}

.NoPostFound:not([data-visible="false"]) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    margin: 1em;
    height: fit-content;
    text-align: center;
}
