.Post-comments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3em;
    width: 100%;
}

.Post-comments-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3em;
    width: 100%;
}

.Post-comments-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3em;
}

.Comment {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
}

.Comment-photo, .Comment-avatar {
    border-radius: 50%;
    padding: 0.5em 0.8em;
    color: #fff;
}

.Comment-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
}

.Comment-author {
    color: #272727;
    font-size: 1.3em;
    line-height: normal;
}

.Comment-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.Comment-reply {
    text-transform: uppercase;
    color: var(--bulma-link-text);;
    font-size: 0.9em;
}

.Comment-reply:hover {
    text-decoration: underline;
}

.Comment-text {
    color: #272727;
    font-size: 1.1em;
    white-space: pre;
}

.Comment-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
}
