.Main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
    max-width: var(--content-max-width);
    min-width: var(--content-min-width);
    margin: 0 auto;
    background-color: #fff;
    padding: 1em;
}
