.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
}

.Header-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
    min-width: var(--content-max-width);
    min-height: 30em;
    margin: 0 auto;
    background-image: var(--header-background-image);
    background-repeat: no-repeat;
    background-position: right top;
    background-color: transparent;
    border-bottom: 1px dashed #efefef;
    padding: 2em;
}

@media screen and (min-width: 1910px) {
    .Header-inner {
        min-width: 55vw;
    }
}

.Header-title a {
    font-family: Georgia, serif;
    text-decoration: none;
    color: var(--bulma-title-color);
    font-weight: 400;
}
